h1{
  color: #05454E;
  font: "Proxima Nova Alt", Sans-serif;
  font-style: italic;

}

.kontakt{
  display: grid;
  border-radius: 20px;
  background-color: #05454E;
  border-color: black;
  box-shadow: 0 14px 28px #808080;
  width: 300px;
  height: 200px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
  "a"
  "b"
  "c";
}

.ikonadresse {
  grid-area: a;
  margin-left: 20px;
  margin-top: 15px;
}

.adresse{
  grid-area: a;
  margin-left: 65px;
  margin-top: 25px;
  color: #ffffff;
}

.ikonklokke{
  grid-area: b;
  margin-left: 20px;
  margin-top: 10px;
}

.klokke{
  grid-area: b;
  margin-left: 70px;
  margin-top: 10px;
  color: #ffffff;
}

.ikontelefon{
  grid-area: c;
  margin-left: 25px;
  margin-top: 10px;
}

.telefon{
  grid-area: c;
  margin-left: 70px;
  margin-top: 10px;
  color: #ffffff;
}

.skolen{
  width: 300px;
  height: 200px;
  box-shadow: 0 14px 28px #808080;
  border-radius: 20px;
  margin-top: 40px;
}

.fundet{
  margin-left: 20px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
  "a"
  "b"
  "c";
  color: #05454E;
  font-size: 35px;
  font-style: italic;
  font: "Proxima Nova Alt", Sans-serif;

}

.fundettekst{
  grid-area: b;
  font-size: 20px;
  font-style: normal;
  color: black;
  margin-top: 10px;
}

.liste{
  grid-area: b;
  font-size: 20px;
  font-style: normal;
  color: black;
  margin-top: 10px;
}
.tak{
  grid-area: c;
  color: #05454E;
  font-size: 35px;
  font-style: italic;
  font: "Proxima Nova Alt", Sans-serif;
  text-align: center;
  margin-top: 10px;
}

.kontakt{
  margin-left: 37px;
  margin-top: 15px;
}

.hvidbox{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
  "a"
  "b"
  "c";
  width: 350px;
  height: 600px;
  border-radius: 20px;
  background-color: white;
  border-color: none;
  box-shadow: 0 14px 28px #808080;
}
.kontakttak{
  grid-area: b;
  border-radius: 20px;
  background-color: #05454E;
  border-color: black;
  box-shadow: 0 14px 28px #808080;
  width: 200px;
  height: 250px;
  margin-left: 35px;
  font-size: 10px;

}
.takikonadresse {
  grid-area: b;
  margin-left: 20px;
  margin-top: 30px;
}

.takadresse{
  grid-area: b;
  margin-left: 65px;
  margin-top: 10px;
  color: #ffffff;
}

.takkonklokke{
  grid-area: b;
  margin-left: 10px;
  margin-top: 10px;
}

.takklokke{
  grid-area: b;
  margin-left: 65px;
  margin-top: 10px;
  color: #ffffff;
}

.takikontelefon{
  grid-area: b;
  margin-left: 25px;
  margin-top: 10px;
}

.taktelefon{
  grid-area: b;
  margin-left: 65px;
  margin-top: 10px;
  color: #ffffff;
}
