:root {
  --gul:#F6E36D;
  --lilla: #F9BABB;
  --blå: #05454E;
  --grå-ish: #e4f1f0;
  --hvid:#ffffff;
}


* {
    padding: 0;
    margin: 0;
}

/* header med menu */
header {
  position: fixed;
  background-color: var(--grå-ish);
  width: 100vw;
}

li{
  list-style: none;
}

a{
  color: var(--blå);
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;

}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.logo {
height: 50px;
width: 120px;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: var(--hvid);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;

}



body {
    background-color: white;
    font-family:"Proxima Nova Alt", Sans-serif;
}
footer {
  background-color: #05454E;
  font-family:"Proxima Nova Alt", Sans-serif;
  color: white;
  text-align: left;
}







.footertekst {
  color: white;
  line-height: 1,4;
}

.icons {
letter-spacing: 1px;
margin-left: 39px;
}

.lærmere {
  text-decoration: underline;
}
.footer2{
  background-color: #2E2E2E;
  padding: 10px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 10px;
}

.container {
  display: grid;
  grid-template-columns: 200px 100p;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.icons {
  letter-spacing: 1px;
margin-left: 39px;
}

.footertekst {
  color: white;
  line-height: normal;
  text-align: left;
}

.icons {
  letter-spacing: 1px;
margin-left: 39px;
}


.lærmere {
  text-decoration: underline;
}
.footer2{
  background-color: #2E2E2E;
  padding: 10px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 10px;
}




/* 3 knapper på forsiden */
.container {
  display: grid;
  grid-template-columns: 200px auto;
  grid-auto-rows: minmax(50px,auto);
  grid-gap:20px;
  grid-template-areas: "header header"
  "fundet registrer";
  justify-content: center;
  align-content: center;
  height: 100vh;

}


.knap1{
  grid-area: header;
  width: 420px;
  height: 100px;
  border: none;
  color: #05454E;
  background-color: #F6E36D;
  border-radius: 25px;
  box-shadow: inset 0 0 0 0 #05454E;
  transition: ease-out 0.2s;
  font-size: 2rem;
  outline: none;
}



.knap2 {
  grid-area: fundet ;
  width: 200px;
  height: 60px;
  border: none;
  color: #05454E;
  background-color: #F6E36D;
  border-radius: 20px;
  box-shadow: inset 0 0 0 0 #05454E;
  transition: ease-out 0.2s;
  font-size: 1rem;
  outline: none;
}


.knap3{
  grid-area: registrer;
  width: 200px;
  height: 60px;
  border: none;
  color: #05454E;
  background-color: #F6E36D;
  border-radius: 20px;
  box-shadow: inset 0 0 0 0 #05454E;
  transition: ease-out 0.2s;
  font-size: 1rem;
  outline: none;
}


.knap2:hover, .knap3:hover {
  box-shadow: inset 200px 0 0 0 #05454E;
  font-size: 2.3rem;
  outline: none;
}




.knap2:hover, .knap3:hover {
  box-shadow: inset 200px 0 0 0 #05454E;
  cursor: pointer;
  color: #F6E36D;
}

.knap1:hover {
   box-shadow: inset 620px 0 0 0 #05454E;
  cursor: pointer;
  color: #F6E36D;
}





/* Steph kode*/

.glemteFeed {
  margin: 10%;
  box-shadow: 0px 5px 10px #808080;
  background-color: yellow;
  width: 80%;
  height: 250px;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
  grid-template-areas:
  ". objekt ."
  "ikonFeed . beskrivelseFeed"
  ". lokationFeed ."
  ". reserverKnap .";


  grid-area: allFeed;
  grid-gap: 5px;
  margin: 5%;
  box-shadow: 0px 5px 10px #a9a9a9;
  background-color: white;
  width: 270px;
  height: 300px;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 0.5fr 1.5fr 0.5fr 0.5fr;
  grid-template-areas:
  "objekt objekt"
  "ikonFeed beskrivelseFeed"
  ". lokationFeed"
  ". reserverKnap";

}

.glemteFeed h3 {
  grid-area: objekt;
  z-index: 1;
  box-shadow: 0px 5px 5px #ececec;
  border-radius: 5px;
  text-align: center;
  background-color: var(--lilla);
  color: white;
  font-weight: lighter;
}
.glemteFeed p {
  box-shadow: 0px 5px 5px #ececec;
  border-radius: 5px;
  padding: 5px;
}

.ikonFeed {
  grid-area: ikonFeed;
  height: 100px;
  width: 100px;
  height: 75px;
  width: 75px;
  box-shadow: 0px 5px 5px #ececec;
  border-radius: 5px;
  z-index: 1;
}


.beskrivelseFeed {
  grid-area: beskrivelseFeed;
  z-index: 1;
  height: auto;
  box-shadow: 0px 5px 5px #ececec;
  border-radius: 5px;
  padding: 5px;
  width: 160px;
}
/* #beskrivelse {
  grid-area: beskrivelseFeed;
  z-index: 1;
  height: auto;
  box-shadow: 0px 5px 5px #ececec;
  border-radius: 5px;
  padding: 5px;
  width: 110px;
} */
.lokationFeed {
  grid-area: lokationFeed;
  display: flex;
  z-index: 1;
  height: 20px;
}
.glemtSted {
  display: flex;
  grid-area: lokationFeed;
  filter: invert();
  height: 15px;
}
.reserverKnap {
  display: inline-block;
  cursor: pointer;
  grid-area: reserverKnap;
  background-color: #05455E;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
}

@media (max-width: 768px){
  .hamburger {
      display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap:0;
    flex-direction: column;
    background-color: var(--lilla);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

}


.kontakt{
  display: grid;
  border-radius: 20px;
  background-color: #05454E;
  border-color: black;
  box-shadow: 0 14px 28px #808080;
  width: 300px;
  height: 200px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
  "a"
  "b"
  "c";
}

.ikonadresse {
  grid-area: a;
  margin-left: 20px;
  margin-top: 15px;
}

.adresse{
  grid-area: a;
  margin-left: 65px;
  margin-top: 25px;
  color: #ffffff;
}

.ikonklokke{
  grid-area: b;
  margin-left: 20px;
  margin-top: 10px;
}

.klokke{
  grid-area: b;
  margin-left: 70px;
  margin-top: 10px;
  color: #ffffff;
}

.ikontelefon{
  grid-area: c;
  margin-left: 25px;
  margin-top: 10px;
}

.telefon{
  grid-area: c;
  margin-left: 70px;
  margin-top: 10px;
  color: #ffffff;
}

.skolen{
  width: 300px;
  height: 200px;
  box-shadow: 0 14px 28px #808080;
  border-radius: 20px;
  margin-top: 40px;
}



.kontakt{
  display: grid;
  border-radius: 20px;
  background-color: #05454E;
  border-color: black;
  box-shadow: 0 14px 28px #808080;
  width: 300px;
  height: 200px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
  "a"
  "b"
  "c";
}

.ikonadresse {
  grid-area: a;
  margin-left: 20px;
  margin-top: 15px;
}

.adresse{
  grid-area: a;
  margin-left: 65px;
  margin-top: 25px;
  color: #ffffff;
}

.ikonklokke{
  grid-area: b;
  margin-left: 20px;
  margin-top: 10px;
}

.klokke{
  grid-area: b;
  margin-left: 70px;
  margin-top: 10px;
  color: #ffffff;
}

.ikontelefon{
  grid-area: c;
  margin-left: 25px;
  margin-top: 10px;
}

.telefon{
  grid-area: c;
  margin-left: 70px;
  margin-top: 10px;
  color: #ffffff;
}

.skolen{
  width: 300px;
  height: 200px;
  box-shadow: 0 14px 28px #808080;
  border-radius: 20px;
  margin-top: 40px;
}

.fundet{
  margin-left: 20px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
  "a"
  "b"
  "c";
  color: #05454E;
  font-size: 35px;
  font-style: italic;
  font: "Proxima Nova Alt", Sans-serif;

}

.fundettekst{
  grid-area: b;
  font-size: 20px;
  font-style: normal;
  color: black;
  margin-top: 10px;
}

.liste{
  grid-area: b;
  font-size: 20px;
  font-style: normal;
  color: black;
  margin-top: 10px;
}
.tak{
  grid-area: c;
  color: #05454E;
  font-size: 35px;
  font-style: italic;
  font: "Proxima Nova Alt", Sans-serif;
  text-align: center;
  margin-top: 10px;
}

.kontakt{
  margin-left: 37px;
  margin-top: 15px;
}

.hvidbox{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
  "a"
  "b"
  "c";
  width: 350px;
  height: 600px;
  border-radius: 20px;
  background-color: white;
  border-color: none;
  box-shadow: 0 14px 28px #808080;
}
.kontakttak{
  grid-area: c;
  border-radius: 20px;
  background-color: #05454E;
  border-color: black;
  box-shadow: 0 14px 28px #808080;
  width: 200px;
  height: 250px;
  margin-left: 35px;
  font-size: 10px;

}
.takikonadresse {
  grid-area: c;
  margin-left: 20px;
  margin-top: 30px;
}

.takadresse{
  grid-area: c;
  margin-left: 65px;
  margin-top: 10px;
  color: #ffffff;
}

.takkonklokke{
  grid-area: c;
  margin-left: 10px;
  margin-top: 10px;
}

.takklokke{
  grid-area: c;
  margin-left: 65px;
  margin-top: 10px;
  color: #ffffff;
}

.takikontelefon{
  grid-area: c;
  margin-left: 25px;
  margin-top: 10px;
}

.taktelefon{
  grid-area: c;
  margin-left: 65px;
  margin-top: 10px;
  color: #ffffff;
}

.bekræft{
  grid-area: a;
  color: #05454E;
margin-left: 60px;
  font-size: 30px;
  font-style: italic;
  margin-top: 30px;
}

.knap{
  grid-area: b;
  background-color: #05454E;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  color: white;
  border: none;
  margin-top: 30px;
  margin-left: 50px;
}

